/* General styles */
body {
  margin: 0;
  padding: 0;
  width: 99.8vw;
  height: 99vh;
  background-color: #767a83;
  font-family: "Trebuchet MS", sans-serif;
  color: #c0c0c0;
  display: flex; /* Use flexbox */
}


.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 2px solid #333;
}

/* Map div */
#map_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%; /* Increased width */
  height: 50%;
  background-color: #a8dadc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  visibility: visible; /* Initially visible */
  opacity: 1; /* Initially visible */
}

#map_div.hide {
  visibility: hidden;
  opacity: 0;
}

/* League and team grids */
#league_div, #team_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%; /* Increased width */
  height: 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 2;
  visibility: hidden; /* Hidden by default */
  opacity: 0; /* Hidden by default */
}

/* Make league and team divs visible when toggled */
#league_div.show, #team_div.show {
  visibility: visible;
  opacity: 1;
}

/* Table grid */
#table_div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%; /* Increased width */
  height: 50%;
  background-color: #83817f;
  font-size: 1.2rem;
  font-weight: bold;
}

.tabulator-container {
  width: 100%;
  height: 100%;
}

/* Badge grid */
.badge-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  top: 55px;
  gap: 10px;
  width: 100%;
  height: calc(100% - 55px); /* Take up the full height of the parent */
  padding: 5px;
  background: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow-y: auto; /* Make the grid scrollable */
  position: relative; /* Keep the grid flowing under the back button */
}

/* Back button */
.back-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  background-color: #ff6347;
  color: #f7f7f7;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #e5533c;
}

.back-button:active {
  background-color: #cc4933;
}

/* Radio buttons */
#radio_buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 1);
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1500;
  opacity: 1;
}

#radio_buttons label {
  margin-right: 15px;
  cursor: pointer;
  color: rgba(37, 34, 34, 1); /* Increase opacity of label text */
  opacity: 1;
}

/* Reference player */
#reference_player {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%; /* Keep the width as is */
  height: 100%; /* Full height */
  background-color: #2a9d8f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  box-sizing: border-box;
  overflow-y: auto;
}

/* 3 Big Containers */
#reference_player .container {
  height: 33.33%; /* Each container takes 1/3 of the height */
  width: 96%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Space between containers */
  margin-top: 10px;
  margin-left: 2%;
  margin-right: 1%;
  border: none;
}

/* Top container with 3 equal parts */
#reference_player .top-container {
  display: flex;
  justify-content: space-between;
}

#reference_player .top-container .left {
  /* Player photo */
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 120px;
  border-radius: 10px;
  margin-right: 10px;
  justify-content: center;
}

#reference_player .top-container .center {
  /* Player info container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-right: 5px;
  width: 40%;
}

#reference_player .top-container .center .player-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#reference_player .top-container .center .player-details {
  font-size: 1rem;
}

#reference_player .top-container .right {
  /* Starchart */
  background-color: #ffffff;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
}

/* Middle container with heatmap and stats */
#reference_player .middle-container {
  display: flex;
  justify-content: space-between;
}

#reference_player .middle-container .heatmap {
  background-color: #f4a261;
  border-radius: 10px;
  height: 100%;
  width: 32%; /* Takes 1/3 of the container */
  margin-right: 10px;
  text-align: center;
  font-size: 1rem;
  color: #2a2a2a;
}

#reference_player .middle-container .stats {
  width: 64%; /* Takes 2/3 of the container */
  background-color: #264653;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#reference_player .middle-container .stats .stat {
  margin-bottom: 10px;
  font-size: 0.8rem; /* Smaller font */
  font-weight: 600;
}

/* Bottom container with two plots */
#reference_player .bottom-container {
  display: flex;
  justify-content: space-between;
}

#reference_player .bottom-container .plot {
  background-color: #e9c46a;
  border-radius: 10px;
  height: 100%;
  width: 48%; /* Each plot takes 48% of the width */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #2a2a2a;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px; /* Add margin between plots */
}

#reference_player .bottom-container .plot:last-child {
  margin-right: 0; /* No margin on the last plot */
}
