/* General styles */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #767a83;
  font-family: "Trebuchet MS", sans-serif;
  color: #c0c0c0;
  position: relative;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 2px solid #333;
}

/* Map div */
#map_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: #a8dadc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  visibility: visible; /* Initially visible */
  opacity: 1; /* Initially visible */
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* League and team grids */
#league_div, #team_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 2;
  visibility: hidden; /* Hidden by default */
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Make league and team divs visible when toggled */
#league_div.show, #team_div.show {
  visibility: visible;
  opacity: 1;
}

/* Back button */
.back-button {
  position: absolute;
  top: 10px;  /* Add margin from the top */
  right: 10px;  /* Add margin from the right */
  z-index: 10; /* Ensure it's above the badge grid */
  background-color: #ff6347;
  color: #f7f7f7;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #e5533c;
}

.back-button:active {
  background-color: #cc4933;
}

/* Badge grid */
.badge-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  top: 55px;
  gap: 10px;
  width: 100%;
  height: calc(100% - 55px); /* Take up the full height of the parent */
  padding: 5px;
  background: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow-y: auto; /* Make the grid scrollable */

  position: relative; /* Keep the grid flowing under the back button */
}


/* Table grid */
#table_div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: #83817f;
  font-size: 1.2rem;
  font-weight: bold;
}

.tabulator-container {
  width: 100%;
  height: 100%;
}

/* Reference and compared players */
#reference_player {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: #2a9d8f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

#compared_player {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: #e76f51;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Radio buttons */
#radio_buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.19);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  z-index: 500;
}

#radio_buttons label {
  margin-right: 15px;
  cursor: pointer;
}
